
@import 'app';

.slot-modal {
  &__content {
    width: 100%;
    box-shadow: 0 -4px 16px 0 rgba(0,0,0,0.04);
    background-color: $white;
    transition: .5s;
    padding: 24px 0;

    &-header {
      @include display-flex (space-between, center);
      padding: 0 24px;
    }

    &-title {
      @include font-style (20px, 600, $dark-gray, $lineHeight: 24px, $spacing: 0.4);
      margin-bottom: 8px;
    }

    &-date {
      @include font-style (16px, $color: $gray, $lineHeight: 28px, $spacing: 0.4);
      margin-bottom: 16px;
      padding: 0 24px;
    }

    &-slots {
      @include display-flex;
      @include border-style ($border-bottom: 1px solid $light-gray);
      overflow-x: auto;
      padding: 0 24px 32px;

      &-item {
        @include font-style (14px, 600, $dark-gray, $lineHeight: 20px, $spacing: 0.4);
        border: 2px solid $light-gray4;
        padding: 9px 17px;
        white-space: nowrap;
        background-color: $white;
        border-radius: 8px;
        margin-right: 7px;

        &-active {
          @include font-style ($color: $white);
          background-color: $green4;
          border: 2px solid $green4;
        }

        &-disabled {
          @include font-style ($color: $light-gray3);
          background-color: $light-gray;
          border: 2px solid $light-gray;
          pointer-events: none;
        }
      }
    }

    &-footer {
      @include display-flex (space-between, center);
      padding: 24px 24px 0;

      p {
        @include font-style (12px, $color: $dark-gray, $lineHeight: 16px, $spacing: 0.4);

        span {
          @include font-style (16px, bold);
        }
      }
    }
  }
}

ion-button {
  --padding-start: 0;
  --padding-end: 0;
}

.not-found {
  @include font-style (14px, bold, $dark-gray, center);
}
