$white: #ffffff;
$blue1: #053B4C;
$dark-blue: #083B4C;
$dark-blue2: #1F2933;
$gray: #616E7C;
$gray2: #D8D8D8;
$gray3: #CBD2D9;
$dark-gray: #323F4B;
$light-gray: #E4E7EB;
$light-gray2: #FAFAFB;
$light-gray3: #9AA5B1;
$light-gray4: #CBD2D9;
$light-gray5: #F5F7FA;
$green: #48CF97;
$green2: #6BE89F;
$green3: #2E9B74;
$green4: #4CBD97;
$light-green: #D2F8E2;
$light-green2: #D3F9E2;
$dark-green: #1D656D;
$light-red: #FFE7E7;
$error: #FC240F;
$dark-blue: #1F6BFF;
$dark-blue2: #168AB1;
$dark-blue2: #083B4C;
$light-yellow: #FFD043;
$yellow: #FFAB00;
$dark-yellow: #FD9B09;
$black: #000000;
